.container {
  h2 {
    margin: 0 0 25px;
  }

  dl.table-like {
    dt {
      float: left;
      min-width: 150px;
      text-align: right;
      margin-right: 25px;
    }
    dd {
      //white-space: nowrap;
      //text-overflow: ellipsis;
      //overflow-x: hidden;
    }
  }
}


// common styles for forms for all steps
.steps-form {
  // vertical align
  margin: 30px auto;
  padding: 30px 70px;
  background: #ffffff;
  border: 1px solid #e1e8f2;
  max-width: 600px;


  form {
    .help-block {
      position: absolute;
      z-index: 1;
    }

    .form-group {
      margin-bottom: 50px;
    }

    .input-group {
      margin: 0;
    }

    // Automatically put red asterix for required filed
    .form-group.required {
      .control-label:after {
        content: "*";
        color: @invalid-color;
      }
    }

    // styles for invalid input
    .has-error {
      label.control-label {
        color: inherit;
      }
      .input-group-btn button, .form-control {
        border-color: @border-color;
      }
    }
  }

  // overwrite some forms styling
  input.form-control, .input-group-btn button {
    padding: 15px 20px;
    height: auto;
  }

  label.control-label {
    font-size: 16px;
    text-align: left;
  }

  .form-control-feedback {
    font-size: 18px;
    top: 9px;
  }

}